* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#keypress {
  margin-top: 20px;
  text-align: center;
}

.row {
  
}

.jumbotron {
  background-color: rgb(199, 158, 47);
  width: 800px;
  height: 800px;
   
}
  
.lead {
  text-align: left;
  margin-left: 35px;
  font-weight: bold;
  color: rgb(23, 228, 228);
}

  
